<ion-header>
  <ion-toolbar>
    <ion-title>Resultado</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Quantidade de produtos encontrados: {{ resultadoPesquisa?.length || '0' }}
    </ion-list-header>
    <ion-item *ngFor="let itemPesquisa of resultadoPesquisa">
      <ion-label>
        <h2>{{itemPesquisa.produtoNome}}</h2>
        <p>Descrição: {{itemPesquisa.produtoDesc}}<p>
        <p>Marca: {{itemPesquisa.marcaNome}}</p>
        <p>Preço: R$ {{itemPesquisa.lojaProdutoPreco}}</p>
        <p>Garantia: {{itemPesquisa.produtoMesesGarantia}}</p>
        <p>Loja: {{itemPesquisa.lojaNome}}</p>
        <p>Endereço: {{itemPesquisa.lojaRuaEnderecoComercial}},{{itemPesquisa.lojaNumeroEnderecoComercial}}.</p>
        <p>{{itemPesquisa.lojaBairroEnderecoComercial}}, {{itemPesquisa.lojaCidadeEnderecoComercial}} - {{itemPesquisa.lojaEstadoEnderecoComercial}}</p>
      </ion-label>
    </ion-item>
  
   </ion-list>

</ion-content>
