<ion-content [fullscreen]="true" id="content">
  
<div id="titulo">
  Consultar Produtos
</div>
  <div id="formulario">
  <!-- LISTA DE CATEGORIAS -->
  <ion-item>
    <ion-label>Categoria</ion-label>
    <ion-select  [(ngModel)]="categoria" ok-text="Ok" cancel-text="Cancelar">
      
      <ion-select-option 
        *ngFor="let categoria of categorias" 
        [value]="categoria">
          {{categoria.nome}}
        </ion-select-option>

    </ion-select>

  </ion-item>
  

  <!-- LISTA DE MARCAS -->
  <ion-item>
    <ion-label>Marca</ion-label>
    <ion-select  [(ngModel)]="marca" ok-text="Ok" cancel-text="Cancelar">
      
      <ion-select-option 
        *ngFor="let marca of marcas" 
        [value]="marca">
          {{marca.nome}}
        </ion-select-option>
        
    </ion-select>
  </ion-item>


  <ion-item>
    <ion-label position="floating">Produto</ion-label>
    <ion-input [(ngModel)]="produtoPesquisado"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label>Distancia(KM)</ion-label>
    <ion-select [(ngModel)]="distancia" ok-text="Ok" cancel-text="Cancelar">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="10">10</ion-select-option>
      <ion-select-option value="20">20</ion-select-option>
      <ion-select-option value="30">50</ion-select-option>
    </ion-select>

  </ion-item>


  <ion-item>
    <ion-button (click)="pesquisar()" id="btnPesquinsa">
      Pesquisar
    </ion-button>
  </ion-item>
  
</div>

<app-tabs></app-tabs>

</ion-content>
